<form action="" class="w-100">
    <div class="d-flex">
      <div class="name m-1 shadow p-3">
        <div class="p-3">
          <h5>Name *</h5>
          <input type="text" placeholder="Puzzle Name" class="name_text shadow">
        </div>
        <h1>Preview *</h1>
        <textarea class="overflow-auto preview shadow" name="" id="" rows="10"></textarea>
      </div>
      <div class="m-1 desc shadow p-3">
        <h1>Description *</h1>
        <textarea class="description preview shadow" name="" id="" rows="15"></textarea>
      </div>
    </div>

    <div class="d-flex">
      <div class="set m-1 shadow p-3">
        <input type="text" placeholder="Language" [placeholder]="'JS'" class="name_text shadow" disabled>
        <br>
        <h5>Difficulty *</h5>
        <select name="" class="w-100 shadow name_text" id="">
          <option value="Easy">Easy</option>
        </select>
        <br>
        <h5>Kind *</h5>
        <select name="" class="w-100 shadow name_text" id="">
          <option value="Easy">Easy</option>
        </select>
        <h5>Note : (less than 100 char)</h5>
        <input type="text" placeholder="Language" [maxLength]="100" [placeholder]="'JS'" class="name_text shadow">
      </div>
      <div class="nset p-3">
        <div class="shadow hset mb-3 p-2">

        </div>
        <div class="shadow hset p-2">

        </div>
      </div>
    </div>
  </form>