<div class="accordion p-2" id="accordionExample">
    <h4 class="accordion-header" id="headingOne">
        <button class="button shadow btn_toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#about" aria-expanded="true" aria-controls="about">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <span> &nbsp; Infos</span>
        </button> 
        <button class="button shadow btn_toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
                <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"/>
            </svg>
            <span> &nbsp; Code</span>
        </button>
      </h4>

    <div class="accordion-item">
      <div id="about" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <h2> {{puzz.name}} </h2>
            <div class="d-flex">
                <h6 class="m-2 alert alert-info">{{puzz.diff}}</h6>
                <h6 class="m-2 alert alert-info">{{puzz.kind}}</h6>
                <h6 class="m-2 alert alert-info">{{puzz.lan}}</h6>
            </div>
            <hr>
            <h4> {{puzz.desc}} </h4>
            <h5>note : {{puzz.note}}</h5>
            
            <hr>
            <h5>Exemples</h5>
            <div *ngFor="let p of puzz.test" class="border p-3 m-2 shadow bg-white">
                <code>
                    Name : {{p.name}} <br>
                    <strong> Input : {{p.input}} </strong> <br>
                    <strong> output expected : {{p.output}} </strong>
                </code>
            </div>
            <hr>
            <h4>Constraints</h4>
            <ul>
                <li *ngFor="let con of puzz.contrains"> <code>{{con}}</code> </li>
            </ul>

            <h4>Tips</h4>
            <ul>
                <li *ngFor="let con of puzz.tips"> <strong>{{con}}</strong> </li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <div id="collapseThree" class="show collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="min-height: 500px;">
            <div class="d-flex align-items-stretch">
                <app-editor #editor style="width: 100%;"></app-editor>
                <div *ngIf="editor.test" style="width: 40%;height: 100%;" class="d-flex flex-column p-1 bd-highlight">
                    <div style="height: 50%;" class="output overflow-auto w-100 mb-2 bg-dark bd-highlight p-3 text-light">
                        <h3>Out Put</h3>
                        <code style="height: 250px;">
                            <pre>{{error}}</pre>
                        </code>
                    </div>
                    <div style="height: 50%;" class="bd-highlight text-black overflow-auto border shadow w-100 bg-white p-2">
                        <h3>Test</h3>
                        <div class="d-flex">
                            <div style="width:70%; height: 100%;">
                                <div *ngFor="let test of puzz.test" 
                                class="test d-flex align-items-between shadow"
                                [ngClass]="{'alert-info' : test_i[test.id] === 2, 'alert-danger' : test_i[test.id] === 3}"
                                (click)="startTest(test.id)">
                                    <p>{{test.name}}</p>
                                    <div *ngIf="test_i[test.id] == 1" class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:30%; height: 100%;">
                                <button class="test_b" data-bs-toggle="tooltip" title="Start All Test">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-skip-start" viewBox="0 0 16 16">
                                        <path d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L5 8.752V12a.5.5 0 0 1-1 0V4zm7.5.633L5.696 8l5.804 3.367V4.633z"/>
                                    </svg>
                                </button>
                                <button class="test_b" data-bs-toggle="tooltip" title="Submit Code">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                        <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<app-toast *ngFor="let tt of toasts" [test]="tt[0]" [display]="tt[1]" [good]="tt[2]"></app-toast>