<div class="accordion p-2" id="accordionExample">
    <h4 class="accordion-header" id="headingOne">
        <button class="button shadow btn_toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#about" aria-expanded="true" aria-controls="about">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <span> &nbsp; Infos</span>
        </button> 
        <button class="button shadow btn_toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
                <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"/>
            </svg>
            <span> &nbsp; Code</span>
        </button>
      </h4>

    <div class="accordion-item">
      <div id="about" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <h2> {{puzz.name}} </h2>
            <div class="d-flex">
                <h6 class="m-2 alert alert-info">{{puzz.diff}}</h6>
                <h6 class="m-2 alert alert-info">{{puzz.kind}}</h6>
                <h6 class="m-2 alert alert-info">{{puzz.lan}}</h6>
            </div>
            <hr>
            <h4> {{puzz.desc}} </h4>
            <h5>note : {{puzz.note}}</h5>
            
            <hr>
            <h5>Exemples</h5>
            <div *ngFor="let p of puzz.test" class="border p-3 m-2 shadow bg-white">
                <code>
                    Name : {{p.name}} <br>
                    <strong> Input : {{p.input}} </strong> <br>
                    <strong> output expected : {{p.output}} </strong>
                </code>
            </div>
            <hr>
            <h4>Constraints</h4>
            <ul>
                <li *ngFor="let con of puzz.contrains"> <code>{{con}}</code> </li>
            </ul>

            <h4>Tips</h4>
            <ul>
                <li *ngFor="let con of puzz.tips"> <strong>{{con}}</strong> </li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <div id="collapseThree" class="show collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="min-height: 500px;">
            <div class="d-flex align-items-stretch">
                <app-editor #editor [diff]="puzz.diff" [lan]="puzz.lan" style="width: 100%;"></app-editor>
                <div *ngIf="editor.test" style="width: 40%;height: 100%;" class="d-flex flex-column p-1 bd-highlight">
                    <div style="height: 50%;" class="output overflow-auto w-100 mb-2 bg-dark bd-highlight p-3 text-light">
                        <h3>Out Put</h3>
                        <code style="height: 250px;">
                            <pre>{{error}}</pre>
                        </code>
                    </div>
                    <div style="height: 50%;" class="bd-highlight text-black overflow-auto border shadow w-100 bg-white p-2">
                        <h3>Test</h3>
                        <div class="d-flex">
                            <div style="width:70%; height: 100%;">
                                <div *ngFor="let test of puzz.test" 
                                class="test d-flex justify-content-between shadow"
                                [ngClass]="{'alert-info' : test_i[test.id] === 2, 'alert-danger' : test_i[test.id] === 3}"
                                (click)="startTest(test.id)">
                                    <p>{{test.name}}</p>
                                    <div *ngIf="test_i[test.id] == 1" class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:30%; height: 100%;">
                                <button class="test_b shadow" (click)="startAll()" data-bs-toggle="tooltip" title="Start All Test">
                                    Start Test
                                </button>
                                <button class="test_b shadow" data-bs-toggle="tooltip" title="Submit Code">
                                    Share
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<app-toast *ngFor="let tt of toasts" [test]="tt[0]" [display]="tt[1]" [good]="tt[2]"></app-toast>