.info{
    height: auto;
    width: 245px;
    position: absolute;
    padding-top: 10px;
    color: black;
    font-weight: bold;
    font-style: italic;
    background-color: rgba(106, 106, 223, 0.733);
    text-align: center;
    justify-content: center;
    transition-duration: 0.5s;
    margin: 2px;
    opacity: 0;
}

.ii{
    position: relative;
    bottom: 20px;
}

.puzz:hover .info{
    transform: translateY(-200px);
    opacity: 1;
}

.info:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.puzz{
    transition-duration: 0.5s;
}

.puzz:hover{
    background-color: whitesmoke;
    transform: scale(1.05);
}