
<div (click)="Solve()" class="rounded">
    <div style="cursor: pointer;" class="puzz bg-light shadow rounded">
        <img src="../../assets/logo.png" alt="" style="width: 100%; height: auto;">
        <div class="bg-black ii text-white">
            <div class="p-2 m-0">
                <h2>{{puzzle.name}}</h2>
                {{star}}<br>
                <span>{{puzzle.lan.toString() | uppercase}}, </span>
                <span>{{puzzle.kind.toString() | uppercase}}, </span>
            </div>
            <div class="info w-100 h-100">
                {{puzzle.preview}}
            </div>
        </div>
    </div>
</div>