.toast_t{
    width: 250px;
    height: 150px;
    z-index: 10;
    position: fixed;
    bottom: 0px;
    right: 0px;
    transition-duration: 0.5s;
}

.red{
   background-color: rgb(248, 182, 182);
   color: white;
}

.blue{
    background-color: rgb(191, 191, 253);
    color: white;
}

.btn_close{
    background-color: transparent;
    border: none;
    transition-duration: 0.5s;
}

.btn_close:hover{
    transform: rotate(360deg) scale(1.5);
}