<div [class]="'toast_t shadow p-2 ' + (good ? 'blue' : 'red')" *ngIf="display">
    <div class="d-flex justify-content-between p-2 w-100">
        <code class="text-white">Test : {{test | uppercase}}</code>
        <div>
            <button class="btn_close" (click)="close()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
            </button>
        </div>
    </div>
    <hr>
    <div class="p-2 text-dark">
        <div *ngIf="val === undefined">
            <h2 *ngIf="good">Good Job</h2>
            <h2 *ngIf="!good">Try Again</h2>
        </div>
        <div *ngIf="val !== undefined">
            <code>
                val
            </code>
        </div>
    </div>
</div>